<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzu.tpp.dao.tUserDao">
    <!-- tUser的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_tUser_Map" type="com.zzu.tpp.entity.tUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="realname" property="realname" />
        <result column="sex" property="sex" />
        <result column="birth" property="birth" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="pic" property="pic" />
        <result column="dept_id" property="deptId" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 数据库中表名为:t_user的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="t_user_Column">
        t_user.id as id
        ,t_user.username as username
        ,t_user.password as password
        ,t_user.realname as realname
        ,t_user.sex as sex
        ,t_user.birth as birth
        ,t_user.mobile as mobile
        ,t_user.email as email
        ,t_user.pic as pic
        ,t_user.dept_id as dept_id
        ,t_user.status as status
    </sql>

    <!--获得类名为:tUser对应的数据库表的数据总行数 -->
    <select id="gettUserRowCount" resultType="java.lang.Long">
        select count(id) from t_user
    </select>
    <!-- 获得类名为:tUser对应数据库中表的数据集合 -->
    <select id="selecttUser" resultMap="result_tUser_Map">
        select 
        <include refid="t_user_Column" /> 
        from t_user
    </select> 

    <!-- 获得一个tUser对象,以参数tUser对象中不为空的属性作为条件进行查询-->
    <select id="selecttUserByObj" parameterType="com.zzu.tpp.entity.tUser" resultMap="result_tUser_Map">
        select 
            <include refid="t_user_Column" /> 
        from t_user
        <where>
            <if test="status != null "> and t_user.status = #{status}</if>
            <if test="deptId != null "> and t_user.dept_id = #{deptId}</if>
            <if test="pic != null "> and t_user.pic = #{pic}</if>
            <if test="email != null "> and t_user.email = #{email}</if>
            <if test="mobile != null "> and t_user.mobile = #{mobile}</if>
            <if test="birth != null "> and t_user.birth = #{birth}</if>
            <if test="sex != null "> and t_user.sex = #{sex}</if>
            <if test="realname != null "> and t_user.realname = #{realname}</if>
            <if test="password != null "> and t_user.password = #{password}</if>
            <if test="username != null "> and t_user.username = #{username}</if>
            <if test="id != null "> and t_user.id = #{id}</if>
        </where>
    </select> 

    <!-- 通过tUser的id获得对应数据库中表的数据对象-->
    <select id="selecttUserById" parameterType="java.lang.Integer" resultMap="result_tUser_Map">
        select 
            <include refid="t_user_Column" /> 
        from t_user
        where t_user.id = #{id}
    </select> 

    <!-- 将tUser插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="inserttUser" parameterType="com.zzu.tpp.entity.tUser">
        insert into t_user(id,username,password,realname,sex,birth,mobile,email,pic,dept_id,status) 
        values(#{id},#{username},#{password},#{realname},#{sex},#{birth},#{mobile},#{email},#{pic},#{deptId},#{status})
    </insert>

    <!-- 将tUser中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptytUser" parameterType="com.zzu.tpp.entity.tUser">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="realname != null">realname,</if>
            <if test="sex != null">sex,</if>
            <if test="birth != null">birth,</if>
            <if test="mobile != null">mobile,</if>
            <if test="email != null">email,</if>
            <if test="pic != null">pic,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="username != null"> #{username},</if>
            <if test="password != null"> #{password},</if>
            <if test="realname != null"> #{realname},</if>
            <if test="sex != null"> #{sex},</if>
            <if test="birth != null"> #{birth},</if>
            <if test="mobile != null"> #{mobile},</if>
            <if test="email != null"> #{email},</if>
            <if test="pic != null"> #{pic},</if>
            <if test="deptId != null"> #{deptId},</if>
            <if test="status != null"> #{status},</if>
        </trim>
    </insert>

    <!-- 通过tUser的id将数据库表中对应的数据删除-->
    <delete id="deletetUserById" parameterType="java.lang.Integer">
        delete from t_user
        where id = #{id}
    </delete>

    <!-- 通过tUser的id将tUser的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updatetUserById" parameterType="com.zzu.tpp.entity.tUser">
        update t_user set
            username=#{username}
            ,password=#{password}
            ,realname=#{realname}
            ,sex=#{sex}
            ,birth=#{birth}
            ,mobile=#{mobile}
            ,email=#{email}
            ,pic=#{pic}
            ,dept_id=#{deptId}
            ,status=#{status}
        where id=#{id}
    </update>

    <!-- 通过tUser的id将tUser中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptytUserById" parameterType="com.zzu.tpp.entity.tUser">
        update t_user
        <set>
            <if test="username != null">
                username=#{username},
            </if>
            <if test="password != null">
                password=#{password},
            </if>
            <if test="realname != null">
                realname=#{realname},
            </if>
            <if test="sex != null">
                sex=#{sex},
            </if>
            <if test="birth != null">
                birth=#{birth},
            </if>
            <if test="mobile != null">
                mobile=#{mobile},
            </if>
            <if test="email != null">
                email=#{email},
            </if>
            <if test="pic != null">
                pic=#{pic},
            </if>
            <if test="deptId != null">
                dept_id=#{deptId},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>